#info {
	position: absolute;
	top: 5vh; //325px
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
	color: white;
	font-weight: 900;
	font-size: 64px;
	background-color: black;
	opacity: 0.75;
}

#crosshair{
	width: 100%;
	display:block;
	margin:auto;
	position: absolute;
	z-index: 100;
	top: 15vh; //325px
}

#crosshair p{
	text-align: center;
	font-size: 64px;
	padding:0;
}

body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%
}